[Desktop Entry]
Version=1.0
Type=Application
Name=FreeCol
Exec=freecol
Icon=data/freecol.png
Categories=Game;StrategyGame;
GenericName[hsb]=Strategijowa hra
Comment[hsb]=Strategijowa hra na zakładźe kołow po hrě "Sid Meier's Colonization".
GenericName[nl]=Strategiespel
Comment[nl]=Een strategiespel met beurten, gebaseerd op "Sid Meier's Colonization".
GenericName[mk]=Стратешка игра
Comment[mk]=Потезна стратегија заснована на играта „Sid Meier's Colonization“.
GenericName[el]=Παιχνίδι Στρατηγικής
Comment[el]=Ένα turn-based παιχνίδι στρατηγικής βασισμένο στο "Sid Meier's Colonization".
GenericName[ia]=Joco de strategia
Comment[ia]=Un joco de strategia a tornos basate sur "Sid Meier's Colonization".
GenericName[id]=Permainan Strategi
Comment[id]=Permainan strategi bergilir yang berdasarkan dari "Sid Meier's Colonization".
GenericName[ko]=전략 게임
Comment[ko]="시드 마이어의 식민지" 에 따른 턴제 전략 게임입니다.
GenericName[ca]=Joc d'estratègia
Comment[ca]=Un joc d'estratègia per torns basat en "Sid Meier's Colonization".
GenericName[ang]=Guþcræftplega
Comment[ang]=Stæpcund guþcræftplega geƿorht æfter "Sider Meier's Colonization".
GenericName[lt]=Strateginis žaidimas
Comment[lt]=Ėjimais pagrįstas strateginis žaidimas grindžiamas "Sid Meier's Colonization".
GenericName[bg]=Стратегическа игра
Comment[bg]=Походова стратегическа игра базирана на "Сид Мейеровата Колонизация"
GenericName[sv_SE]=Strategispel
Comment[sv_SE]=Ett turordningsbaserat strategispel baserat på "Sid Meiers's Colonization".
GenericName[pt_PT]=Jogo de Estratégia
Comment[pt_PT]=Um jogo de estratégia por turnos baseado no «Sid Meier's Colonization».
GenericName[nn]=Strategispel
Comment[nn]=Ein turbaserett strategipil basert på "Sit Meier's Colonization".
GenericName[bs]=Igra strategije
GenericName[fr]=Jeu de stratégie
Comment[fr]=Un jeu de stratégie au tour par tour fondé sur ''Colonization'' de Sid Meier.
GenericName[br]=C'hoari strategiezh
Comment[br]=Ur c'hoari strategiezh "tro-ha-tro" diazezet war ""Colonization" gant Sid Meier.
GenericName[en_GB]=Strategy Game
Comment[en_GB]=A turn-based strategy game based on "Sid Meier's Colonisation".
GenericName[ie]=Lude de Strategie
Comment[ie]=Un lude de strategie a tornes basat sur "Sid Meieir's Colonization".
GenericName[gl]=Xogo de estratexia
Comment[gl]=Un xogo de estratexia por quendas baseado no videoxogo "Sid Meier's Colonization".
GenericName[ja]=戦略ゲーム
Comment[ja]=「Sid Meier's Colonization」ベースのターン制の戦略ゲーム。
GenericName[eu]=Estrategia jokoa
GenericName[cs_CZ]=Strategická hra
Comment[cs_CZ]=Tahová strategie inspirovaná hrou „Sid Meier's Colonization“
GenericName[es_ES]=Juego de estrategia
Comment[es_ES]=Un juego de estrategia por turnos basado en el vídeojuego "Sid Meier's Colonization".
GenericName[zh@hant]=戰略遊戲
Comment[zh@hant]=基於「Sid Meier's Colonization」的回合制戰略遊戲。
GenericName[he]=משחק אסטרטגיה
Comment[he]=משחק אסטרטגיה מבוסס תורות המבוסס על "Sid Meier's Colonization".
GenericName[fi]=Strategiapeli
Comment[fi]=Vuoropohjainen strategiapeli, joka perustuu "Sid Meier's Colonization" -peliin.
GenericName[uk]=Стратегічна гра
Comment[uk]=Покрокова стратегічна гра, на основі «Sid Meier’s Colonization».
GenericName[fa]=بازی استراتژیک
Comment[fa]=بازی استراتژیک نوبتی مبتنی بر بازی "Sid Meier's Colonization".
GenericName[qqq]=Description of the software
Comment[qqq]="Sid Meier's Colonization" is the full name of the game and probably shouldn't be translated.
GenericName[de]=Strategiespiel
Comment[de]=Ein von „Sid Meier's Colonization“ inspiriertes, zugbasiertes Strategiespiel.
GenericName[ga]=Cluiche Straitéise
Comment[ga]=Cluiche straitéise sealaíochta atá bunaithe ar "Sid Meier's Colonization".
GenericName[it_IT]=Gioco di Strategia
Comment[it_IT]=Un gioco di Strategia a turni basato su "Coloniziation" di Sid Meier.
GenericName[zh_CN]=策略游戏
Comment[zh_CN]=基于"席德梅尔的殖民帝国"的回合制策略游戏。
GenericName[tl]=Laro ng Estratehiya
Comment[tl]=Isang laro ng estratehiyang may salitan na nakabatay sa "Sid Meier's Colonization".
GenericName[ms]=Permainan Strategi
Comment[ms]=Permainan strategi berasaskan giliran yang berdasarkan "Sid Meier's Colonization".
GenericName[ar]=لعبة استراتيجية
Comment[ar]=لعبة استراتيجية بالأدوار مبنية على " استعمار Sid Meier's".
GenericName[nb_NO]=Strategispill
Comment[nb_NO]=Et turbasert strategispill basert på "Sid Meiers Colonization".
GenericName[be@tarask]=Стратэгічная гульня
Comment[be@tarask]=Пакрокавая стратэгічная гульня зробленая на аснове «Калянізацыі Сыда Мэера».
GenericName[tr]=Strateji Oyunu
Comment[tr]="Sid Meier's Colonization" oyununa dayalı bir sıra-bazlı strateji oyunu.
GenericName[oc]=Jòc d'estrategia
Comment[oc]=Un jòc d'estrategia al torn per torn basat sus "Colonization" de Sid Meier.
GenericName=Strategy Game
Comment=A turn-based strategy game based on "Sid Meier's Colonization".
GenericName[eo]=Strategia ludo
Comment[eo]=Laŭvica strategia ludo bazita de «Colonization» fare de Sid Majer
GenericName[hu]=Stratégiai Játék
Comment[hu]=Sid Meier "Colonization" nevű játékán alapuló, körökre osztott stratégiai játék.
GenericName[pms]=Gieugh dë strategìa
Comment[pms]=Un gieugh dë stategìa a tor basà su «Sid Meier's Colonization».
GenericName[pt_BR]=Jogo de Estratégia
Comment[pt_BR]=Um jogo de estratégia por turnos baseado em "Sid Meier's Colonization".
GenericName[sr@ec]=Стратешка игра
Comment[sr@ec]=Потезна стратегија заснована на „Сид Мајеровој Колонизацији“.
GenericName[sk]=Strategická hra
Comment[sk]=Ťahová stratégia vytvorená na základe hry "Colonization" od Sida Meiera.
GenericName[pl_PL]=Gra strategiczna
Comment[pl_PL]=Turowa gra strategiczna oparta na "Colonization" Sida Meiera.
GenericName[et]=Strateegiamäng
Comment[et]="Sid Meier's Colonization"-il põhinev strateegiamäng.
GenericName[nl_BE]=Een strategiespel
Comment[nl_BE]=Een op beurten gebaseerd spel
GenericName[km]=ហ្គេមយុទ្ធសាស្ត្រ
Comment[km]=ហ្គេមយុទ្ធសាស្ត្រមួយផ្អែកលើហ្គេម "Sid Meier's Colonization"  ដែលអ្នកលេងប្ដូរវេនគ្នាម្ដងម្នាក់។
GenericName[ru]=Стратегическая игра
Comment[ru]=Пошаговая стратегия, на основе игры «Sid Meier’s Colonization».
GenericName[da]=Strategispil
Comment[da]=Et turbaseret strategispil baseret på "Sid Meier's Colonization".
